@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Lexend:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

#about,
#features,
#entertainment,
#menu,
#gallery,
#reservations,
#faq {
  scroll-margin-top: 5rem;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Lexend", ui-sans-serif, system-ui, sans-serif;
  --color-gold-300: #F3E5AB;
  --color-gold-400: #E5C158;
  --color-gold-500: #D4AF37;
  --color-gold-600: #AA8C2C;
}
